#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
}
#grid {
  --grid-rows: 10;
  --grid-cols: 10;
  --square-size: 40px;
  --border-size: 2px;

  display: grid;
  grid-template-rows: repeat(var(--grid-rows), var(--square-size));
  grid-template-columns: repeat(var(--grid-cols), var(--square-size));
  grid-gap: var(--border-size);
  border: var(--border-size) solid #757575;
  width: calc(var(--grid-cols) * var(--square-size) + var(--border-size) * var(--grid-cols) + var(--border-size));
  height: calc(var(--grid-rows) * var(--square-size) + var(--border-size) * var(--grid-rows) + var(--border-size));
}

.cell {
  background-color: #ccc;
  border: var(--border-size) solid white;
  width: var(--square-size);
  height: var(--square-size);
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: var(--square-size);
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.cell:active {
  /* a blue inside shadow */
  box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.5);
}

.cell:hover {
  background-color: #aaa;
}

.boom {
  background-color: #d96868;
}

.cell.flagged::after {
  content: "🚩";
}

.cell[data-val="-1"]::after {
  content: "💣";
}
.cell[data-val="0"] {
  background-color: #ECECEC;
}
.cell[data-val="1"] {
  background-color: #DDFAC3;
}
.cell[data-val="2"] {
  background-color: #ECEDBF;
}
.cell[data-val="3"] {
  background-color: #EDDAB4;
}
.cell[data-val="4"] {
  background-color: #EDC38A;
}
.cell[data-val="5"] {
  background-color: #F7A1A2;
}
.cell[data-val="6"] {
  background-color: #FEA785;
}
.cell[data-val="7"] {
  background-color: #FF7D60;
}
.cell[data-val="8"] {
  background-color: #FF323C;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

#message {
  height: 25px;
}

#game {
  display: none;
}

#difficulty-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.difficulty-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #757575;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.difficulty-choice:hover {
  background-color: #ccc;
}

.difficulty-choice:active {
  background-color: #aaa;
}

#custom-difficulty-form {
  display: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
