#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#app > * {
  margin: 10px;
}
#info {
  font-size: 20px;
}
#grid {
  /* 10x10 grid */
  --grid-rows: 10;
  --grid-cols: 10;
  /* 40px squares */
  --square-size: 40px;
  /* 2px border */
  --border-size: 2px;

  display: grid;
  grid-template-rows: repeat(var(--grid-rows), var(--square-size));
  grid-template-columns: repeat(var(--grid-cols), var(--square-size));
  grid-gap: var(--border-size);
  border: var(--border-size) solid black;
  width: calc(var(--grid-cols) * var(--square-size) + var(--border-size));
  height: calc(var(--grid-rows) * var(--square-size) + var(--border-size));
  margin: 0 auto;
}

.cell {
  background-color: #ccc;
  border: var(--border-size) solid black;
  width: var(--square-size);
  height: var(--square-size);
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: var(--square-size);
  cursor: pointer;
}

.cell:hover {
  background-color: #aaa;
}

.mine.explosed {
  background-color: red;
}

.mine.explosed:hover {
  background-color: yellow;
}

.cell.revealed {
  /* background-color: white !important; */
}

.cell.flagged {
  background-color: green;
}

.cell[data-val="0"] {
  /* background-color: #DEDEDC; */
  background-color: white;
}
.cell[data-val="1"] {
  background-color: #DDFAC3;
}
.cell[data-val="2"] {
  background-color: #ECEDBF;
}
.cell[data-val="3"] {
  background-color: #EDDAB4;
}
.cell[data-val="4"] {
  background-color: #EDC38A;
}
.cell[data-val="5"] {
  background-color: #F7A1A2;
}
.cell[data-val="6"] {
  background-color: #FEA785;
}
.cell[data-val="7"] {
  background-color: #FF7D60;
}
.cell[data-val="8"] {
  background-color: #FF323C;
}
